<ul class="list-group">

<% @restaurant.reviews.each do |review| %>
  <li class="list-group-item">
    <%= review.content %> |
    <%= review.rating %> |
    <%= link_to "Destroy",
          review_path(review),
          method: :delete,
          data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>